body {
    background: url(jumbotronepics.jpg) no-repeat center center fixed;
    backdrop-filter: blur(10px);
}

h2.display-2, p.lead {
    color: black;
    font-weight: bold;
}

.navbar {
    background: rgba(0,0,0,0.7)
} 

.mainpage {
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.result-area {
    background: rgba(255,255,255,0.8);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}